# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.c text
*.h text
*.java text linguist-detectable=true
*.xml text linguist-detectable=false
*.html text linguist-detectable=false
*.js text linguist-detectable=false

# Declare files that will always have CRLF line endings on checkout.
*.sln text eol=crlf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.jar binary
/lib/phantomjs* binary

