[Unit]
Description=Waarp-Vitam-R66-Monitor
Documentation=http://www.waarp.fr
Before=systemd-user-sessions.service
After=network.target
After=syslog.target

[Service]
Type=simple
User=vitam
Group=vitam
ExecStart=%ROOT%/bin/r66/StartR66ServerVitam.sh start

[Install]
WantedBy=multi-user.target
